# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant


# Logs
/_log/*
/log/*
/*.log

/docs/*

# /**/*/*-local.php
/environments/dev/*/**/*-local.php

/backend/config/*-local.php

/common/config/*-local.php
/common/config/*.ini

/frontend/config/*-local.php
/frontend/config/*.ini


# All *.ini files
/**/*/*.ini

# Eclipce
/.metadata/*
/.buildpath
/.project

# Internal links in frontend/web
/frontend/web/api
/frontend/web/backend
/frontend/web/static
